.*history
.*.swp
*.gz
oUnit-anon.cache
*.log
*.cmo
*.cma
*.cmx
*.cmi
*.cmxa
*.cmxs
*.a
*.annot
*.o
*.s
*.byte
*.top
.depend
all_tests.*
perf.data*
gmon.out
core
*.opt
BUGS
TODO
*.db
src/ramen_configurator
src/findcsv
*.html
*.deb
debtmp/
tmp/
*.tgz
ramen_root/**/*.ml
ramen_root/**/*.x
ramen_root/**/*.smt2
ramen_root/**/*.smt2.no_opt
ramen_root/**/*.info
ramen_root/sniffer/csv_files.ramen
ramen_root/sniffer/csv_kafka.ramen
