.*history
.*.swp
*.gz
oUnit-anon.cache
*.log
*.cmo
*.cma
*.cmx
*.cmi
*.cmxa
*.cmxs
*.a
*.annot
*.o
*.s
*.byte
*.top
.depend
all_tests.*
perf.data*
gmon.out
core
*.opt
BUGS
TODO
*.db
src/ramen_configurator
src/findcsv
src/rebinary
*.html
*.deb
debtmp/
tmp/
*.tgz
ramen_root/**/*.ml
ramen_root/**/*.x
ramen_root/**/*.smt2
ramen_root/**/*.smt2.no_opt
ramen_root/**/*.info
ramen_root/sniffer/csv_files.ramen
ramen_root/sniffer/csv_kafka.ramen
ramen_root/sniffer/chb_files.ramen
ramen_root/sniffer/chb_kafka.ramen
docker/rebinary
docker/rebinary_plug.*
docker/chbs/
docker/schemas/
volumes/grafana/
volumes/prometheus/data/
volumes/ramen-dh-tenant-id-12341234/
